body {
    background-color: #5778A9;
    font-family: Candara, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    min-width: 5%;
}

.exploracao-content {
    display: flex;
    justify-content: center;
}

section {
    margin: 10px;
    border: 3px solid #000;
    max-width: 300px; 
    min-height: 250px;
    position: relative;
    padding-bottom: 30px; /* Ajuste conforme necessário para garantir espaço suficiente para o botão */
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p#frase {
    font-size: 1.1em;
}

p {
    padding: 0;
    margin: 0;
}

.botao {
    color: white;
    background-color: #23487E;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 3px; 
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
}

.botao:hover {
    background-image: url(../hover.png);
}

.home {
    background-color: rgb(82, 90, 92);
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 9px 6px;
    display: inline-block;
    margin-top: 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.home:hover {
    color: #000;
}

@media only screen and (max-width: 700px) {
    .exploracao-content {
        flex-direction: column; 
        align-items: center; 
    }

    section {
       
    margin: 10px auto; 

    
    .botao {
    color: white;
    background-color: #23487E;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 3px; 
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    }
}