body {
    margin: 0;
    padding: 0;
    font-family: Candara, sans-serif;
    color: white;
    position: relative; /* Adicione position: relative ao corpo para alinhar os botões com base nele */
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    vertical-align: top; /* Alinhar o conteúdo no topo da célula */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

.custom-button {
    background-color: rgb(82, 90, 92);
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 9px 6px;
    display: inline-block;
    margin-top: 20px;
    position: fixed;
}

.home {
    bottom: 15px;
    right: 15px;
}

.sistema-solar {
    bottom: 55px;
    right: 15px;
}

/* Estilos para tornar a imagem responsiva */
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para ajustar o layout em telas menores */
@media (max-width: 600px) {
    table {
        display: block;
    }

    td {
        display: block;
        width: 100%;
    }

    img {
        margin-top: 20px;
    }
}
