body{
    color:rgb(236, 246, 255);
    font-family: candara;
    background-image: url('../Imagens/backgroud2.png');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.planet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.planet {
    flex: 1;
    max-width: 250px;
    padding: 10px;
    box-sizing: border-box;
}

.nomesplanetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) {
    .planet {
        flex: 1 0 100%;
    }
}

.home{
    position: fixed;
    bottom: 15px;
    right: 0%;
    transform: translateX(-50%);
    background-color: rgb(82, 90, 92);
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 9px 6px;
    display: block;
}




